// ---------------------footer-------------------
.footer-page {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    text-decoration: none;
    color: var(--body-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    display: block;
    margin-bottom: 20px;

    &--accent {
      color: var(--accent-color);
    }
  }

  &-contacts__link {
    color: rgba(255, 255, 255, 0.6);
  }
  &-contacts__item {
    margin-top: 9px;
  }
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-left: 8px;
  padding-right: 8px;

  color: #ffffff;
  // @media screen and (min-width: 1200px) {
  //   justify-content: left;
  // }
}
.footer-item-connection {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    &__address {
      margin-right: 165px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
    &__address {
      margin-right: 70px;
    }
  }
}
.footer-social {
  @include section-padding;
  @media screen and (min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 12px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);

    @media screen and (min-width: 1200px) {
      text-align: left;
    }

    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__icon {
    fill: currentColor;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--btn-color);
    outline: none;
    margin: 0;

    resize: none;

    transition-property: background-color, color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-type);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__item + &__item {
    margin-left: 10px;
  }
}
