.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--hero-color);
  z-index: 999;

  transform: translateX(100%);
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 21px;
}
@media screen and (min-width: 768px) {
  .menu-link {
    display: none;
  }
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu-link {
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-type);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-site-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  margin-bottom: 302px;
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    transition-property: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-type);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 32px;

  color: var(--accent-color);
}
.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 64px;

  color: var(--text-color);
}
