:root {
  --body-color: #212121;
  --hero-color: #ffffff;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --first-btn-color: #2196f3;
  --hover-btn-color: #188ce8;
  --second-btn-color: #f5f4fa;
  --text-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --bacground-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --command-background-color: #f5f4fa;
  --size-to-line: 94px;
  --size-to-line-mob: 60px;
  --size-between: 30px;
  --size-top: 50px;
  --animation-type: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
